.page-content {
        height: 90vh;    
        overflow-y: scroll;    
    }
    .search {
        color: rgba(0,0,0,.87);        
    }

    .mat-expansion-panel-header-description, .mat-expansion-indicator::after {
        color: var(--color-white) !important;
    }