<p class="page-header h3 m-3">Career Growth & Development</p>
<mat-divider></mat-divider>


<div class="table-responsive p-3">
    <table class="table table-bordered" width="100%" cellspacing="0">
      <thead>
        <tr>
          <th>IMPROVEMENTS</th>
          <th>Things the 'ORGANISATION' should……</th>
          <th>IMPROVEMENTS</th>
          <th>Changes in SELF</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="valigntext">Start</td>
          <td >
              <textarea matInput [disabled]=!selfassessmentenabled type="text"  name="start1" [(ngModel)]="start1" placeholder="200 characters"></textarea>
          </td>
          <td class="valigntext">Start</td>
          <td >
              <textarea matInput [disabled]=!selfassessmentenabled type="text"  name="start2" [(ngModel)]="start2" placeholder="200 characters"> </textarea>
          </td>
        </tr>
        <tr>
          <td class="valigntext">Stop</td>
          <td class="valigntext">
              <textarea matInput [disabled]=!selfassessmentenabled type="text"  name="stop1" [(ngModel)]="stop1" placeholder="200 characters"></textarea>
          </td>
          <td class="valigntext">Stop</td>
          <td class="valigntext">
              <textarea matInput [disabled]=!selfassessmentenabled type="text"  name="stop2" [(ngModel)]="stop2" placeholder="200 characters"></textarea>
          </td>
        </tr>
        <tr>
          <td class="valigntext">Continue</td>
          <td class="valigntext">
              <textarea matInput [disabled]=!selfassessmentenabled type="text"  name="continue1" [(ngModel)]="continue1" placeholder="200 characters"></textarea>
          </td>
          <td class="valigntext">Continue</td>
          <td class="valigntext">
              <textarea matInput [disabled]=!selfassessmentenabled type="text"  name="continue2" [(ngModel)]="continue2" placeholder="200 characters"></textarea>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="col-5 pull-right">
      <button mat-raised-button class="col-md-2 btn-theme" (click)="createImprovements()">Save</button>
    </div>
  </div>		  
  <mat-divider></mat-divider>
  <div class="table-responsive p-3">
    <table class="table table-bordered" width="100%" cellspacing="0">
      <thead>
        <tr>
          <th>My Learning Goal</th>
          <th>Learning Measure</th>
          <th>Support Required</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="valigntext">
              <textarea matInput [disabled]=!selfassessmentenabled type="text"  name="learninggoal" [(ngModel)]="learninggoal"></textarea>
          </td>
          <td class="valigntext">
              <textarea matInput [disabled]=!selfassessmentenabled type="text"  name="learningmeasure" [(ngModel)]="learningmeasure"></textarea>
          </td>
          <td class="valigntext">
              <textarea matInput [disabled]=!selfassessmentenabled type="text"  name="supportrequired" [(ngModel)]="supportrequired"></textarea>
          </td>
        </tr>        
      </tbody>
    </table>
  </div>
  <mat-divider></mat-divider>  
  <div class="table-responsive p-3">
    <table class="table table-bordered" width="100%" cellspacing="0">
      <thead>
        <tr>
          <th>Career Growth & Development</th>
          <th>Self Comments</th>
          <th>Manager Comments</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="valigntext">
            I wish to ENRICH my ROLE by taking Responsibilities like 
          </td>
          <td class="valigntext">
              <textarea matInput [disabled]=!selfassessmentenabled type="text"  name="responsibitySelf" [(ngModel)]="responsibitySelf"></textarea>
          </td>
          <td class="valigntext">
              <textarea matInput [disabled]=!selfassessmentenabled type="text"  name="responsibilityManager" [(ngModel)]="responsibilityManager"></textarea>
          </td>
        </tr>    

        <tr>
          <td class="valigntext">
            My READINESS for this role
          </td>
          <td class="valigntext">
              <textarea matInput [disabled]=!selfassessmentenabled type="text"  name="readinessSelf" [(ngModel)]="readinessSelf"></textarea>
          </td>
          <td class="valigntext">
              <textarea matInput [disabled]=!selfassessmentenabled type="text"  name="readinessManager" [(ngModel)]="readinessManager"></textarea>
          </td>
        </tr>   
      </tbody>
    </table>
    <div class="col-5 pull-right">
        <button mat-raised-button class="col-md-2 btn-theme" (click)="createCareerGrowth()">Save</button>
      </div>
  </div>