<mat-card class="mat-card-page">
    <mat-card-header class="mat-card-header-page">
        <mat-card-title class="mat-card-title-page pt-2">
            <span class="col-10">
                {{ pageTitle }}
            </span>
            <!-- <span class="float-right pt-2" (click)="closePopup()"><mat-icon>close</mat-icon></span> -->
            <div class="col-2 pt-2 mat-header-actions">
                <span class="float-right mx-2" (click)="closePopup()">
                    <mat-icon>close</mat-icon>
                </span>
                <span (click)="exporter.exportTable('pdf', {fileName: pageTitle })" class="float-right">
                    <i class="fa fa-file-excel-o" aria-hidden="true"></i>
                </span>
                <span (click)="exportPdf()" class="float-right">
                    <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
                </span>
            </div>


        </mat-card-title>
        <!-- <button  class="col-1 float-right">X</button> -->

    </mat-card-header>
    <mat-card-content class="mat-card-content-page p-2">
        <div class="row m-0 p-0">
            <div class="col-12">
                <mat-expansion-panel class="navbar-nav me-auto mb-2 mb-lg-0">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <mat-icon>filter_list</mat-icon>
                            <span class="menutext"> Filter By </span>
                        </mat-panel-title>
                    </mat-expansion-panel-header>

                    <form [formGroup]="stockFilters" class="popupform" *ngIf="formPrepared">
                        <div class="blockwrap">
                            <div class="row">
                                <mat-form-field class="col-6" appearance="outline">
                                    <mat-label>From Date</mat-label>
                                    <input matInput (change)="setMinDate(true)" placeholder="Enter From Date"
                                        type="date" formControlName="fromDate" />
                                    <mat-error *ngIf="stockFilters.controls.fromDate.invalid">
                                        Please enter valid From Date.
                                    </mat-error>
                                </mat-form-field>
                                <mat-form-field class="col-6" appearance="outline">
                                    <mat-label>To Date</mat-label>
                                    <input matInput placeholder="Enter To Date" type="date" formControlName="toDate"
                                        [min]="dMinDate" />
                                    <mat-error *ngIf="stockFilters.controls.toDate.invalid">
                                        Please enter valid To Date.
                                    </mat-error>
                                </mat-form-field>
                            </div>

                            <div class="row">
                                <mat-form-field *ngIf="isDep" appearance="outline" class="col-6">
                                    <mat-label>Device Name</mat-label>
                                    <mat-select (selectionChange)="onStatusChange()" formControlName="deviceName"
                                        placeholder="Chosse Device Name">
                                        <mat-option *ngFor="let v of devices" [value]="v.deviceMappingID">
                                            {{v.deviceMappingID}}
                                        </mat-option>
                                    </mat-select>
                                    <mat-error *ngIf="stockFilters.controls.deviceName.invalid">
                                        Please select a device name.
                                    </mat-error>
                                </mat-form-field>

                                <mat-form-field *ngIf="!isDep" appearance="outline" class="col-6">
                                    <mat-label>Department Name</mat-label>
                                    <mat-select (selectionChange)="onStatusChange()" formControlName="departmentName"
                                        placeholder="Chosse Device Name">
                                        <mat-option *ngFor="let v of departments" [value]="v.departmentName">
                                            {{v.departmentName}}
                                        </mat-option>
                                    </mat-select>
                                    <mat-error *ngIf="stockFilters.controls.departmentName.invalid">
                                        Please select a device name.
                                    </mat-error>
                                </mat-form-field>

                                <mat-form-field appearance="outline" class="col-6">
                                    <mat-label>Part Types</mat-label>
                                    <mat-select (selectionChange)="onStatusChange()" formControlName="partType"
                                        placeholder="Chosse Part Types">
                                        <mat-option *ngFor="let v of partTypes" [value]="v.partName">
                                            {{v.partName}}
                                        </mat-option>
                                    </mat-select>
                                    <mat-error *ngIf="stockFilters.controls.partType.invalid">
                                        Please select a Part Types.
                                    </mat-error>
                                </mat-form-field>
                            </div>
                        </div>
                    </form>
                    <button type="submit" color="primary" (click)="onSubmit(stockFilters.value)" mat-raised-button
                        [disabled]="!stockFilters.valid" class="col-md-2 btn-theme px-1 popup-footer-btn">
                        <i class="fa fa-search pr-2"></i> Find
                    </button>
                </mat-expansion-panel>
            </div>
            <div class="row">
                <div class="col-12">
                    <mat-table #table [dataSource]="stockData" matSort matTableExporter #exporter="matTableExporter">

                        <ng-container matColumnDef="id">
                            <mat-header-cell *matHeaderCellDef mat-sort-header class="px-1 descriptive-info-8pc">Id
                            </mat-header-cell>
                            <mat-cell *matCellDef="let element" class="px-2 descriptive-info-8pc"> {{element.id}}
                            </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="departmentName">
                            <mat-header-cell *matHeaderCellDef mat-sort-header class="px-1"> Department Name
                            </mat-header-cell>
                            <mat-cell *matCellDef="let element" class="px-2"> {{element.departmentName}} </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="deviceName">
                            <mat-header-cell *matHeaderCellDef mat-sort-header class="px-1"> Device Name
                            </mat-header-cell>
                            <mat-cell *matCellDef="let element" class="px-2"> {{element.deviceName}} </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="partName">
                            <mat-header-cell *matHeaderCellDef mat-sort-header class="px-1 descriptive-info-15pc"> Part
                                Type
                            </mat-header-cell>
                            <mat-cell *matCellDef="let element" class="px-2 descriptive-info-15pc">
                                {{element.partName}} </mat-cell>
                        </ng-container>

                        <!-- <ng-container matColumnDef="brand">
                            <mat-header-cell *matHeaderCellDef mat-sort-header class="px-1 descriptive-info-8pc"> brand
                            </mat-header-cell>
                            <mat-cell *matCellDef="let element" class="px-2 descriptive-info-8pc">
                                {{element.brand}} </mat-cell>
                        </ng-container> -->

                        <ng-container matColumnDef="quantity">
                            <mat-header-cell *matHeaderCellDef mat-sort-header class="px-1"> Quantity
                            </mat-header-cell>
                            <mat-cell *matCellDef="let element" class="px-2">
                                {{element.quantity}} </mat-cell>
                        </ng-container>

                        <!-- <ng-container matColumnDef="warehouseStock">
                            <mat-header-cell *matHeaderCellDef mat-sort-header class="px-1"> Warehouse Stock
                            </mat-header-cell>
                            <mat-cell *matCellDef="let element" class="px-2">
                                {{ element.warehouseStock }}
                            </mat-cell>
                        </ng-container> -->

                        <ng-container matColumnDef="createdDate">
                            <mat-header-cell *matHeaderCellDef mat-sort-header class="px-1"> Created Date
                            </mat-header-cell>
                            <mat-cell *matCellDef="let element" class="px-2">
                                {{ element.createdDate | date:'dd-MM-YYYY hh:mm' }}
                            </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="refill">
                            <mat-header-cell *matHeaderCellDef class="px-1 descriptive-info-8pc"> Refill
                            </mat-header-cell>
                            <mat-cell class="px-2 descriptive-info-8pc" *matCellDef="let element">
                                <mat-icon matTooltip="Refill Request" cursor="pointer"
                                    (click)="pageState = 'Refill'; iotDeviceMappingPopup(element)">
                                    format_color_fill
                                </mat-icon>
                                <!-- <mat-icon matTooltip="delete" cursor="pointer"
                                    (click)="pageState = 'Delete'; deleteEmp(element)">
                                    delete
                                </mat-icon> -->
                            </mat-cell>
                        </ng-container>
                        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                    </mat-table>
                    <table>
                        <tr *ngIf="!stockData.data.length">
                            <td style="text-align: center;" class="px-2" [attr.colspan]="displayedColumns.length">
                                No {{ pageTitle }} Data Found! Please change the dates in the filters and check again.
                            </td>
                        </tr>
                    </table>
                    <mat-paginator #paginator [pageSize]="10" [pageSizeOptions]="[5, 10]" [showFirstLastButtons]="true">
                    </mat-paginator>
                </div>
            </div>
        </div>
    </mat-card-content>
    <!-- <mat-card-footer>
        <div class="col-md-12 float-right popup-footer" *ngIf="formPrepared">
            <button mat-button (click)="closePopup()" class="btn col-md-2 popup-footer-btn">Cancel</button>
        </div>
    </mat-card-footer> -->
</mat-card>