<p class="page-header h3 m-3">ANTS Values</p>
<mat-divider></mat-divider>

<div class="table-responsive">
  <h2>CONTRIBUTION</h2>
  <table class="table table-bordered" width="100%" cellspacing="0">
    <thead>
      <tr>
        <th>No</th>
        <th>ANTS Values</th>
        <th>Did ANTS live this value?</th>
        <th>Recommendations for improvement</th>
        <th>Did I live this value?</th>
        <th>How did I live this value?</th>
      </tr>
    </thead>
    <tbody>   
        <tr class="tr-height">
          <td class="valigntext">1</td>
          <td class="valigntext">Quality</td>
          <td class="valigntext">
            <mat-select [disabled]=!selfassessmentenabled [(ngModel)]="q1">
              <mat-option>None</mat-option>
              <mat-option [value]="4">Mostly</mat-option>
              <mat-option [value]="3">Sometimes</mat-option>
              <mat-option [value]="2">Rarely</mat-option>
              <mat-option [value]="1">Never</mat-option>
            </mat-select>            
          </td> 
          <td class="valigntext">
            <textarea matInput [disabled]=!selfassessmentenabled maxlength="200" type="text"  name="q2" [(ngModel)]="q2"  placeholder="200 characters"></textarea>
            <!-- <mat-select [(ngModel)]="q2">
              <mat-option [value]="4">Mostly</mat-option>
              <mat-option [value]="3">Sometimes</mat-option>
              <mat-option [value]="2">Rarely</mat-option>
              <mat-option [value]="1">Never</mat-option>
            </mat-select>             -->
          </td>
          <td class="valigntext">
            <mat-select [disabled]=!selfassessmentenabled [(ngModel)]="q3">
              <mat-option>None</mat-option>
              <mat-option [value]="4">Mostly</mat-option>
              <mat-option [value]="3">Sometimes</mat-option>
              <mat-option [value]="2">Rarely</mat-option>
              <mat-option [value]="1">Never</mat-option>
            </mat-select>            
          </td>
          <td class="valigntext">
            <textarea matInput [disabled]=!selfassessmentenabled maxlength="200" type="text"  name="q4" [(ngModel)]="q4" placeholder="200 characters"></textarea>        
          </td>    
        </tr>  
        
        <tr class="tr-height">
          <td class="valigntext">2</td>
          <td class="valigntext">Trust</td>
          <td class="valigntext">
            <mat-select [disabled]=!selfassessmentenabled [(ngModel)]="t1">
              <mat-option>None</mat-option>
              <mat-option [value]="4">Mostly</mat-option>
              <mat-option [value]="3">Sometimes</mat-option>
              <mat-option [value]="2">Rarely</mat-option>
              <mat-option [value]="1">Never</mat-option>
            </mat-select>            
          </td> 
          <td class="valigntext">
            <textarea matInput [disabled]=!selfassessmentenabled maxlength="200" type="text"  name="t2" [(ngModel)]="t2" placeholder="200 characters"></textarea>          
          </td>
          <td class="valigntext">
            <mat-select [disabled]=!selfassessmentenabled [(ngModel)]="t3">
              <mat-option>None</mat-option>
              <mat-option [value]="4">Mostly</mat-option>
              <mat-option [value]="3">Sometimes</mat-option>
              <mat-option [value]="2">Rarely</mat-option>
              <mat-option [value]="1">Never</mat-option>
            </mat-select>            
          </td>
          <td class="valigntext">
            <textarea matInput [disabled]=!selfassessmentenabled maxlength="200" type="text"  name="t4" [(ngModel)]="t4" placeholder="200 characters"></textarea>         
          </td>    
        </tr> 

        <tr class="tr-height">
          <td class="valigntext">3</td>
          <td class="valigntext">Respect</td>
          <td class="valigntext">
            <mat-select [disabled]=!selfassessmentenabled [(ngModel)]="r1">
              <mat-option>None</mat-option>
              <mat-option [value]="4">Mostly</mat-option>
              <mat-option [value]="3">Sometimes</mat-option>
              <mat-option [value]="2">Rarely</mat-option>
              <mat-option [value]="1">Never</mat-option>
            </mat-select>            
          </td> 
          <td class="valigntext">
            <textarea matInput type="text" [disabled]=!selfassessmentenabled maxlength="200"  name="r2" [(ngModel)]="r2" placeholder="200 characters"></textarea>        
          </td>
          <td class="valigntext">
            <mat-select [disabled]=!selfassessmentenabled [(ngModel)]="r3">
              <mat-option>None</mat-option>
              <mat-option [value]="4">Mostly</mat-option>
              <mat-option [value]="3">Sometimes</mat-option>
              <mat-option [value]="2">Rarely</mat-option>
              <mat-option [value]="1">Never</mat-option>
            </mat-select>            
          </td>
          <td class="valigntext">
            <textarea matInput [disabled]=!selfassessmentenabled maxlength="200" type="text"  name="r4" [(ngModel)]="r4" placeholder="200 characters"></textarea>       
          </td>    
        </tr> 

        <tr class="tr-height">
          <td class="valigntext">4</td>
          <td class="valigntext">Learning</td>
          <td class="valigntext">
            <mat-select [disabled]=!selfassessmentenabled [(ngModel)]="l1">
              <mat-option>None</mat-option>
              <mat-option [value]="4">Mostly</mat-option>
              <mat-option [value]="3">Sometimes</mat-option>
              <mat-option [value]="2">Rarely</mat-option>
              <mat-option [value]="1">Never</mat-option>
            </mat-select>            
          </td> 
          <td class="valigntext">
            <textarea matInput [disabled]=!selfassessmentenabled maxlength="200" type="text"  name="l2" [(ngModel)]="l2" placeholder="200 characters"></textarea>
          </td>
          <td class="valigntext">
            <mat-select [disabled]=!selfassessmentenabled [(ngModel)]="l3">
              <mat-option>None</mat-option>
              <mat-option [value]="4">Mostly</mat-option>
              <mat-option [value]="3">Sometimes</mat-option>
              <mat-option [value]="2">Rarely</mat-option>
              <mat-option [value]="1">Never</mat-option>
            </mat-select>            
          </td>
          <td class="valigntext">
            <textarea matInput [disabled]=!selfassessmentenabled maxlength="200" type="text"  name="l4" [(ngModel)]="l4" placeholder="200 characters"> </textarea>         
          </td>    
        </tr> 
        
    </tbody>
  </table>

  <div class="col-5 p-2 pull-right">
    <button mat-raised-button class="col-md-2 btn-theme" (click)="createAntsValues()">Save</button>
  </div>
</div>