<nav class="navbar navbar-light bg-white shadow app-header">
  <div class="container-fluid">
    <img src="../../../assets/images/anex-logo-hor.png" class="logo-header" />
    <div class="header-spacer"></div>
    <app-profile class="show-large"></app-profile>
    <button mat-raised-button color="primary" class="hide-large navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <app-topmenu class="w-100"></app-topmenu>
  </div>
</nav>
<app-sidemenu></app-sidemenu>
