<p class="page-header h3 m-3">HR Manager</p>
<mat-divider></mat-divider>
<div class="wrapper">
    <div class="main-content">
      <div class="row p-2">   
        <div class="col-md-6 col-sm-6">
          <mat-form-field class="col-12" appearance="outline">
            <mat-label>Create Period</mat-label>
            <input matInput type="text"  name="periodname" [(ngModel)]="periodname" placeholder="key in period">
          </mat-form-field>
        </div>
        <div class="col-md-6 col-sm-6">
          <button mat-raised-button class="col-md-4 btn-theme float-right" (click)="createPeriod()">Create Period</button>
        </div>       
      </div>
      <mat-divider></mat-divider>
      <div class="row p-2">   
        <div class="col-md-6 col-sm-6">         

          <mat-form-field appearance="fill" class="col-12">
            <mat-label>Open Period</mat-label>
            <mat-select [(ngModel)]="openperiodid">
              <mat-option>None</mat-option>
              <mat-option *ngFor="let v of getClosedPeriods" [value]="v.periodId">
                {{v.periodId}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-md-6 col-sm-6">
          <button mat-raised-button class="col-md-4 btn-theme float-right" (click)="openPeriod()">Open Period</button>
        </div>       
      </div>
      <mat-divider></mat-divider>
      <div class="row p-2">   
        <div class="col-md-6 col-sm-6">
          <mat-form-field appearance="fill" class="col-12">
            <mat-label>Close Period</mat-label>
            <mat-select [(ngModel)]="closeperiodid">
              <mat-option>None</mat-option>
              <mat-option *ngFor="let v of getPeriods" [value]="v.periodId">
                {{v.periodId}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-md-6 col-sm-6">
          <button mat-raised-button class="col-md-4 btn-theme float-right" (click)="closePeriod()">Close Period</button>
        </div>       
      </div>


      <mat-divider></mat-divider>
      <div class="row p-2">   
        <div class="col-md-6 col-sm-6">
          <mat-form-field appearance="fill" class="col-12">
            <mat-label>Release Period</mat-label>
            <mat-select [(ngModel)]="releaseperiodid">
              <mat-option>None</mat-option>
              <mat-option *ngFor="let v of getPeriods" [value]="v.periodId">
                {{v.periodId}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-md-6 col-sm-6">
          <button mat-raised-button class="col-md-4 btn-theme float-right" (click)="relasePeriod()">Release Period</button>
        </div>       
      </div>






    </div>
  </div>

  <hr>
  <div class="form-row">
  <div class="col-md-12">
    <div class="table-responsive">
      <h2>Dates and Activity</h2>
      <table class="table table-bordered" width="100%" cellspacing="0">
          <thead>
            <tr>
              <th>Activity</th>
              <th>Period</th>
              <th>From Date</th>
              <th>To Date</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            
              <!-- <tr>
                <td><input matInput class="form-control" type="date" text="Goal Setting" #activity1 disabled/></td>
                <td><input matInput class="form-control" type="date" #from1"/></td>
                <td><input matInput class="form-control" type="date" #to1"/></td>
                <td>
                  <select class="form-control">
                    <option>H12020</option>
                    <option>H32020</option>
                  </select>
                </td>
                <td>
                  <button mat-raised-button class="col-md-2 btn-theme" type="button" (click)="PeriodAccess(activity1.value,from1.value,to1.value)">Save</button>
                </td>
              </tr> -->

              <tr>
                <td class="valigntext">Goal Setting</td>
                <td class="valigntext">
                  <mat-form-field appearance="outline" class="col-12">
                    <mat-select (selectionChange)="ongperiodChange()" [(ngModel)]="gperiod" placeholder="choose period">
                      <mat-option>None</mat-option>
                      <mat-option *ngFor="let v of getPeriods" [value]="v.periodId">
                        {{v.periodId}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </td>
                <td class="valigntext">
                  <!-- <input class="form-control" type="date"> -->
                  <mat-form-field class="col-12" appearance="outline">
                    <input matInput type="date"  name="gfrom" [(ngModel)]="gfrom" placeholder="key in period">
                  </mat-form-field>          
                </td>
                <td class="valigntext">
                  <mat-form-field class="col-12" appearance="outline">
                    <input matInput type="date"  name="gto" [(ngModel)]="gto" placeholder="key in period">
                  </mat-form-field>  
                </td>
                <td class="valigntext">
                  <button mat-raised-button class="col-md-2 btn-theme" (click)="savegoal()">Save</button>
                </td>
              </tr>    
          
            <tr>
              <td class="valigntext">Self Assessment</td>
              <td class="valigntext">
                <mat-form-field appearance="outline" class="col-12">
                  <mat-select (selectionChange)="onsperiodChange()" [(ngModel)]="speriod" placeholder="choose period">
                    <mat-option>None</mat-option>
                    <mat-option *ngFor="let v of getPeriods" [value]="v.periodId">
                      {{v.periodId}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </td>
              <td class="valigntext">
                <mat-form-field class="col-12" appearance="outline">
                  <input matInput type="date"  name="sfrom" [(ngModel)]="sfrom" placeholder="key in period">
                </mat-form-field>   
              </td>
              <td class="valigntext">
                <mat-form-field class="col-12" appearance="outline">
                  <input matInput type="date"  name="sto" [(ngModel)]="sto" placeholder="key in period">
                </mat-form-field>  
              </td>
              <td class="valigntext">
                <button mat-raised-button class="col-md-2 btn-theme" (click)="saveself()">Save</button>
              </td>
            </tr>      
            <tr>
              <td class="valigntext">Manager Review</td>
              <td class="valigntext">
                <mat-form-field appearance="outline" class="col-12">
                  <mat-select (selectionChange)="onmperiodChange()" [(ngModel)]="mperiod" placeholder="choose period">
                    <mat-option>None</mat-option>
                    <mat-option *ngFor="let v of getPeriods" [value]="v.periodId">
                      {{v.periodId}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </td>
              <td class="valigntext">
                <mat-form-field class="col-12" appearance="outline">
                  <input matInput type="date"  name="mfrom" [(ngModel)]="mfrom" placeholder="key in period">
                </mat-form-field>  
              </td>
              <td class="valigntext">
                <mat-form-field class="col-12" appearance="outline">
                  <input matInput type="date"  name="mto" [(ngModel)]="mto" placeholder="key in period">
                </mat-form-field>  
              </td>
              
              <td class="valigntext">
                <button mat-raised-button class="col-md-2 btn-theme" (click)="savemanager()">Save</button>
              </td>
            </tr>
          </tbody>
      </table>
        <!-- <div class="col-5 pull-right">
          <button mat-raised-button class="col-md-2 btn-theme">Save</button>
        </div> -->
    </div>
    </div>
  </div>

<hr>


   

  
