<!-- <div class="scoreboard-bar-chart1">
    <div class="main-content">
      <div class="row">
        <div class="col-sm-12 col-md-6 scoreboard-bar-chart2">
          <mat-card class="mat-card-page">
            <mat-card-header class="mat-card-header-page">
              <mat-card-title class="mat-card-title-page">Employee Scoreboard</mat-card-title>
            </mat-card-header>
            <mat-card-content class="mat-card-content-page">
              
              <div class="col-12 scoreboard-bar-chart1">
                <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions" [legend]="barChartLegend" [chartType]="barChartType" [colors]="barChartColors">
                </canvas>
              </div>
            </mat-card-content>
          </mat-card>
        </div>
        
  </div> -->


  <div class="col-sm-12 col-md-6 p-3 scoreboard-bar-chart1">
    <mat-card class="mat-card-page scoreboard-bar-chart3">
      <mat-card-header class="mat-card-header-page">
        <mat-card-title class="mat-card-title-page">Employee Scoreboard</mat-card-title>
      </mat-card-header>
      <mat-card-content class="mat-card-content-page">
        
        <div class="col-12 scoreboard-bar-chart2">
          <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions" [legend]="barChartLegend" [chartType]="barChartType" [colors]="barChartColors">
          </canvas>
        </div>
      </mat-card-content>
    </mat-card>
  </div>