<p class="page-header h3 m-3">Goal Setting</p>
<mat-divider></mat-divider>
<p class="page-header h5 m-2">Role Objectives</p>


<!-- <div class="d-flex justify-content-end p-2">
  <button mat-raised-button class="m-2 btn-theme" (click)="addRow()">New
    <mat-icon class="p-0">add</mat-icon>
  </button>
</div> -->

<mat-table [dataSource]="goalData" class="w-100 scrollable-table table table-striped p-1">
  <ng-container matColumnDef="okrDescription">
    <mat-header-cell *matHeaderCellDef class="px-1 descriptive-info table-first-header-border"><p class="w-100 text-center m-0 p-0 text-dark"><strong>My Objectives & Key Results (OKRs)</strong></p></mat-header-cell>
    <mat-cell *matCellDef="let element" class="px-1 descriptive-info table-first-row-border">
      <textarea matInput  [disabled]=!goalsettingenabled [(ngModel)]="element.okrDescription" class="w-100"></textarea>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="quantitativeMeasure">
    <mat-header-cell *matHeaderCellDef class="px-1 descriptive-info table-header-border"><p class="w-100 text-center m-0 p-0 text-dark"><strong>Quantitative Measure of the Objective</strong></p></mat-header-cell>
    <mat-cell *matCellDef="let element" class="px-1 descriptive-info table-row-border table-line-data">
      <textarea matInput [disabled]=!goalsettingenabled [(ngModel)]="element.quantitativeMeasure" class="w-100"></textarea>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="qualitativeMeasure">
    <mat-header-cell *matHeaderCellDef class="px-1 descriptive-info table-header-border"><p class="w-100 text-center m-0 p-0 text-dark"><strong>Qualitative Measure of the Objective</strong></p></mat-header-cell>
    <mat-cell *matCellDef="let element" class="px-1 descriptive-info table-row-border table-line-data">
      <textarea matInput [disabled]=!goalsettingenabled [(ngModel)]="element.qualitativeMeasure" class="w-100"></textarea>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="descriptionOfMeasure">
    <mat-header-cell *matHeaderCellDef class="px-1 descriptive-info table-header-border"><p class="w-100 text-center m-0 p-0 text-dark"><strong>Description of Actual Performance</strong></p></mat-header-cell>
    <mat-cell *matCellDef="let element" class="px-1 descriptive-info table-row-border table-line-data">
      <textarea matInput [disabled]=!selfassessmentenabled [(ngModel)]="element.descriptionOfMeasure" class="w-100"></textarea>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="assessmentId">
    <mat-header-cell *matHeaderCellDef class="px-1 other-info table-header-border"><p class="w-100 text-center m-0 p-0 text-dark"><strong>Self Assessment</strong></p></mat-header-cell>
    <!-- <mat-cell *matCellDef="let element" class="px-1 other-info table-row-border table-line-data">
      <textarea matInput [(ngModel)]="element.assessmentId" class="w-100"></textarea>
    </mat-cell> -->


    <mat-cell *matCellDef="let element" class="px-1 other-info table-row-border table-line-data">
      <mat-select [disabled]=!selfassessmentenabled [(ngModel)]="element.assessmentId">
        <mat-option>None</mat-option>
        <mat-option [value]="1">Taken Stretch</mat-option>
        <mat-option [value]="2">Achieved</mat-option>
        <mat-option [value]="3">Could do better</mat-option>
      </mat-select>  
    </mat-cell>

          
  </ng-container>

  <ng-container matColumnDef="managerComments">
    <mat-header-cell *matHeaderCellDef class="px-1 other-info table-header-border"><p class="w-100 text-center m-0 p-0 text-dark"><strong>Manager's Comments</strong></p></mat-header-cell>
    <mat-cell *matCellDef="let element" class="px-1 other-info table-row-border table-line-data">
      <textarea matInput [disabled]=!managerreviewenabled [(ngModel)]="element.managerComments" class="w-100"></textarea>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="addRow">
    <mat-header-cell *matHeaderCellDef class="px-1 row-options table-header-border"><p class="w-100 text-center m-0 p-0 text-dark"><strong>Actions</strong></p></mat-header-cell>
    <mat-cell *matCellDef="let element" class="px-1 row-options table-row-border d-flex justify-content-center">
      <mat-icon class="btn-alt-theme p-0" (click)="removeRow()">delete</mat-icon>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>

<div class="row">
  <div class="col-6">
    <div class="d-flex justify-content-start p-2">
    
      <button mat-raised-button class="m-2 btn-theme d-flex justify-content-end" (click)="createGoalSetting()">Save
        <mat-icon class="p-0">save</mat-icon>
      </button>
    </div>
  </div>

  <div class="col-6">
    <div class="d-flex justify-content-end p-2">
      <button mat-raised-button class="m-2 btn-theme" (click)="addRow()">
        <mat-icon class="p-0">add</mat-icon>
      </button>
    </div>
  </div>

</div>

<!-- <div class="d-flex justify-content-start p-2">
  <button mat-raised-button class="m-2 btn-theme" (click)="addRow()">New
    <mat-icon class="p-0">add</mat-icon>
  </button>

  <button mat-raised-button class="m-2 btn-theme d-flex justify-content-end" (click)="createGoalSetting()">Save
    <mat-icon class="p-0">save</mat-icon>
  </button>
</div> -->
