::ng-deep .mat-form-field-underline {
    display: none;
  }


/* 

  
  .mat-cell,
  .mat-header-cell {
    word-wrap: initial;
    display: table-cell;
    padding: 0px 10px;
    line-break: unset;
    width: 70%;
    white-space: nowrap;
    overflow: hidden;
    vertical-align: middle;
  }
  
  .mat-row,
  .mat-header-row {
    display: table-row;
  }    */

/* 
   .mat-column-quantitativeMeasure {
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 250px  !important;
    width: 250px !important;
    overflow-wrap: break-word;
    word-wrap: break-word;
  
    word-break: break-word;
  
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}

.mat-column-qualitativeMeasure {
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 250px  !important;
    width: 250px !important;
    overflow-wrap: break-word;
    word-wrap: break-word;
  
    word-break: break-word;
  
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}

.mat-column-descriptionOfMeasure {
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 250px  !important;
    width: 250px !important;
    overflow-wrap: break-word;
    word-wrap: break-word;
  
    word-break: break-word;
  
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}

.mat-column-selfAssesment {
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 250px  !important;
    width: 250px !important;
    overflow-wrap: break-word;
    word-wrap: break-word;
  
    word-break: break-word;
  
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}

.mat-column-managerComments {
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 250px  !important;
    width: 250px !important;
    overflow-wrap: break-word;
    word-wrap: break-word;
  
    word-break: break-word;
  
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
} */

/* 
    'okrDescription', 'quantitativeMeasure', 'qualitativeMeasure', 
    'descriptionOfMeasure', 'selfAssesment', 'managerComments', 'employeeId', 'periodId' */
  
   