<div class="wrapper">
    <div class="main-content">
      <div class="row">
        <div class="col-12">
          <mat-card class="mat-card-page">
            <mat-card-header class="mat-card-header-page">
              <mat-card-title class="mat-card-title-page">Generate Password</mat-card-title>
            </mat-card-header>
            <mat-card-content class="mat-card-content-page">
              <div class=" row">
                <mat-form-field appearance="outline" class="col-6">
                  <mat-label>EmailId</mat-label>
                  <input matInput autocomplete="off" name="input_rfid" ngModel placeholder="enter emailid" [(ngModel)]="emailid" required>
                </mat-form-field>
                <div class="col-lg-4 float-right">
                    <button mat-raised-button class="col-md-6 btn-theme" (click)="requestOTP()">Request OTP</button>
                </div>
                <mat-form-field appearance="outline" class="col-6">
                  <mat-label>OTP</mat-label>
                  <input matInput autocomplete="off" name="input_storeid" ngModel placeholder="enter otp" [(ngModel)]="otp" required>
                </mat-form-field>

                <div class="col-lg-4 float-right">
                    <button mat-raised-button class="col-md-6 btn-theme" (click)="validateOTP()">Submit</button>
                </div>
              </div>
              
            </mat-card-content>            
          </mat-card>
        </div>
      </div>
    </div>
  </div>
  