<p class="page-header h3 m-3">Manager Ratings</p>
<mat-divider></mat-divider>
<div class="table-responsive p-3">
    <h3>Reporting Manager to rate the employee on the following indicators</h3>
      <table class="table table-bordered" width="100%" cellspacing="0">
        <thead>
          <tr>
            <th>No</th>
            <th>Orientation</th>
            <th>Indicators</th>
            <th>Rating</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>Functional</td>
            <td>Displays technical competence for the required job</td>
            <td class="valigntextManagerRatings">
              <mat-select [disabled]=!managerreviewenabled [(ngModel)]="f1">
                <mat-option>None</mat-option>
                <mat-option [value]="1">Mostly</mat-option>
                <mat-option [value]="2">Sometimes</mat-option>
                <mat-option [value]="3">Rarely</mat-option>
                <mat-option [value]="4">Never</mat-option>
                <mat-option [value]="5">NA</mat-option>
              </mat-select>            
            </td> 
          </tr>
          <tr>
            <td>2</td>
            <td>Functional</td>
            <td>Meets productivity standards & achieves established objectives</td>
            <td class="valigntextManagerRatings">
              <mat-select [disabled]=!managerreviewenabled [(ngModel)]="f2">
                <mat-option>None</mat-option>
                <mat-option [value]="1">Mostly</mat-option>
                <mat-option [value]="2">Sometimes</mat-option>
                <mat-option [value]="3">Rarely</mat-option>
                <mat-option [value]="4">Never</mat-option>
                <mat-option [value]="5">NA</mat-option>
              </mat-select>            
            </td>
          </tr>
          <tr>
            <td>3</td>
            <td>Functional</td>
            <td>Pro-actively assesses the problem and proposes possible solutions</td>
            <td class="valigntextManagerRatings">
              <mat-select [disabled]=!managerreviewenabled [(ngModel)]="fc1">
                <mat-option>None</mat-option>
                <mat-option [value]="1">Mostly</mat-option>
                <mat-option [value]="2">Sometimes</mat-option>
                <mat-option [value]="3">Rarely</mat-option>
                <mat-option [value]="4">Never</mat-option>
                <mat-option [value]="5">NA</mat-option>
              </mat-select>            
            </td>
          </tr>
          <tr>
            <td>4</td>
            <td>Customer</td>
            <td>Solicits customer feedback & responds promptly to customer needs & requests</td>
            <td class="valigntextManagerRatings">
              <mat-select [disabled]=!managerreviewenabled [(ngModel)]="c1">
                <mat-option>None</mat-option>
                <mat-option [value]="1">Mostly</mat-option>
                <mat-option [value]="2">Sometimes</mat-option>
                <mat-option [value]="3">Rarely</mat-option>
                <mat-option [value]="4">Never</mat-option>
                <mat-option [value]="5">NA</mat-option>
              </mat-select>            
            </td>
          </tr>
          <tr>
            <td>5</td>
            <td>Customer</td>
            <td>Demonstrates effective and timely decision making skills</td>
            <td class="valigntextManagerRatings">
              <mat-select [disabled]=!managerreviewenabled [(ngModel)]="c2">
                <mat-option>None</mat-option>
                <mat-option [value]="1">Mostly</mat-option>
                <mat-option [value]="2">Sometimes</mat-option>
                <mat-option [value]="3">Rarely</mat-option>
                <mat-option [value]="4">Never</mat-option>
                <mat-option [value]="5">NA</mat-option>
              </mat-select>            
            </td>
          </tr>
          <tr>
            <td>6</td>
            <td>People</td>
            <td>Exhibits openness to diverse views & integrates them into business practices</td>
            <td class="valigntextManagerRatings">
              <mat-select [disabled]=!managerreviewenabled [(ngModel)]="p1">
                <mat-option>None</mat-option>
                <mat-option [value]="1">Mostly</mat-option>
                <mat-option [value]="2">Sometimes</mat-option>
                <mat-option [value]="3">Rarely</mat-option>
                <mat-option [value]="4">Never</mat-option>
                <mat-option [value]="5">NA</mat-option>
              </mat-select>            
            </td>
          </tr>
          <tr>
            <td>7</td>
            <td>People</td>
            <td>Maintains effective working relationships</td>
            <td class="valigntextManagerRatings">
              <mat-select [disabled]=!managerreviewenabled [(ngModel)]="p2">
                <mat-option>None</mat-option>
                <mat-option [value]="1">Mostly</mat-option>
                <mat-option [value]="2">Sometimes</mat-option>
                <mat-option [value]="3">Rarely</mat-option>
                <mat-option [value]="4">Never</mat-option>
                <mat-option [value]="5">NA</mat-option>
              </mat-select>            
            </td>
          </tr>
          <tr>
            <td>8</td>
            <td>People</td>
            <td>Offers assistance and support to co-workers</td>
            <td class="valigntextManagerRatings">
              <mat-select [disabled]=!managerreviewenabled [(ngModel)]="p3">
                <mat-option>None</mat-option>
                <mat-option [value]="1">Mostly</mat-option>
                <mat-option [value]="2">Sometimes</mat-option>
                <mat-option [value]="3">Rarely</mat-option>
                <mat-option [value]="4">Never</mat-option>
                <mat-option [value]="5">NA</mat-option>
              </mat-select>            
            </td>
          </tr>
          <tr>
            <td>9</td>
            <td>People</td>
            <td>Contributes to building positive team spirit</td>
            <td class="valigntextManagerRatings">
              <mat-select [disabled]=!managerreviewenabled [(ngModel)]="p4">
                <mat-option>None</mat-option>
                <mat-option [value]="1">Mostly</mat-option>
                <mat-option [value]="2">Sometimes</mat-option>
                <mat-option [value]="3">Rarely</mat-option>
                <mat-option [value]="4">Never</mat-option>
                <mat-option [value]="5">NA</mat-option>
              </mat-select>            
            </td>
          </tr>
          <tr>
            <td>10</td>
            <td>Learning</td>
            <td>Learns and applies new skills</td>
            <td class="valigntextManagerRatings">
              <mat-select [disabled]=!managerreviewenabled [(ngModel)]="l1">
                <mat-option>None</mat-option>
                <mat-option [value]="1">Mostly</mat-option>
                <mat-option [value]="2">Sometimes</mat-option>
                <mat-option [value]="3">Rarely</mat-option>
                <mat-option [value]="4">Never</mat-option>
                <mat-option [value]="5">NA</mat-option>
              </mat-select>            
            </td>
          </tr>
          <tr>
            <td>11</td>
            <td>Learning</td>
            <td>Keeps abreast of current developments</td>
            <td class="valigntextManagerRatings">
              <mat-select [disabled]=!managerreviewenabled [(ngModel)]="l2">
                <mat-option>None</mat-option>
                <mat-option [value]="1">Mostly</mat-option>
                <mat-option [value]="2">Sometimes</mat-option>
                <mat-option [value]="3">Rarely</mat-option>
                <mat-option [value]="4">Never</mat-option>
                <mat-option [value]="5">NA</mat-option>
              </mat-select>            
            </td>
          </tr>
          <tr>
            <td>12</td>
            <td>Learning</td>
            <td>Pro-actively seeks feedback on areas of improvement & sets challenging goals</td>
            <td class="valigntextManagerRatings">
              <mat-select [disabled]=!managerreviewenabled [(ngModel)]="l3">
                <mat-option>None</mat-option>
                <mat-option [value]="1">Mostly</mat-option>
                <mat-option [value]="2">Sometimes</mat-option>
                <mat-option [value]="3">Rarely</mat-option>
                <mat-option [value]="4">Never</mat-option>
                <mat-option [value]="5">NA</mat-option>
              </mat-select>            
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="d-flex justify-content-start p-2">
      
      <button mat-raised-button class="m-2 btn-theme d-flex justify-content-end" (click)="createManagerratings()">Save
        <mat-icon class="p-0">save</mat-icon>
      </button>
    </div>

    <mat-divider></mat-divider>

    <div class="table-responsive p-3">
    <h3>Manager's Observation</h3>
      <table class="table table-bordered" width="100%" cellspacing="0">
        <tbody>
          <tr>
            <td width="50%">Mention a few key acheivements of the emloyee</td>
            <td class="valigntext">
              <textarea matInput [disabled]=!managerreviewenabled type="text" maxlength="200"  name="acheivements" [(ngModel)]="acheivements" placeholder="200 characters"></textarea>
            </td>  
          </tr>
          <tr>
            <td width="50%">Mention employee approach's to a given challenge/ problem</td>
            <td class="valigntext">
              <textarea matInput [disabled]=!managerreviewenabled type="text" maxlength="200"  name="approch" [(ngModel)]="approch" placeholder="200 characters"></textarea>
            </td>  
          </tr>
          <tr>
            <td width="50%">Mention employee's key strengths</td>
            <td class="valigntext">
              <textarea matInput [disabled]=!managerreviewenabled type="text" maxlength="200"  name="strenths" [(ngModel)]="strenths" placeholder="200 characters"></textarea>
            </td>  
          </tr>
          <tr>
            <td width="50%">Mention key aspects the employee need to improve upon</td>
            <td class="valigntext">
              <textarea matInput [disabled]=!managerreviewenabled type="text" maxlength="200"  name="aspects" [(ngModel)]="aspects" placeholder="200 characters"></textarea>
            </td>  
          </tr>
        </tbody>
      </table>
      <div class="d-flex justify-content-start p-2">      
        <button mat-raised-button class="m-2 btn-theme d-flex justify-content-end" (click)="createManagerObservations()">Save
          <mat-icon class="p-0">save</mat-icon>
        </button>
      </div>
