<div class="row p-0 m-0">
  <div class="p-0 m-0 show-large menu" [ngClass]="iconmenu ? 'smallsidemenu' : 'largesidemenu'">

    <mat-form-field class="sidemenu-selection sidemnu-selection-margin p-0 m-0">
      <mat-select matNativeControl (selectionChange)="onPeriodChange()" placeholder="select period" required [(value)]="selectedPeriod">
        <mat-option *ngFor="let v of getPeriods" [value]="v.periodId">
          {{v.periodId}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="sidemenu-selection p-0 m-2">
      <!-- <mat-label>Period Selection</mat-label> -->
      <!-- <mat-select matNativeControl (selectionChange)="onEmployeeChange()" placeholder="select employee" required [(value)]="selectedEmployee">
        <mat-option *ngFor="let v of getEmployee" [value]="v.employeeId">
          {{v.employeeName}}
        </mat-option>
      </mat-select> -->
      <input matInput class="search" type="text"  placeholder="select employee" [formControl]="searchEmployee" [matAutocomplete]="auto"
        [(value)]="employeeName" required>
      <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onEmployeeChange($event)" [displayWith]="displayProperty">
        <mat-option *ngFor="let v of filteredEmployees | async" [value]="v">
          {{v.employeeName}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>

    <div *ngIf=hrmanagerdisabled>
      <a class="sidemenuitem m-0 p-2" routerLink="/employee/hrmanager" routerLinkActive="sidemenuitem-active" [routerLinkActiveOptions]="{ exact: true }" title="HR Manager" data-bs-toggle="tooltip" data-bs-placement="right">
        <mat-icon>people</mat-icon><span  class="menutext">HR Manager</span>      
      </a>
    </div>   

    <a  class="sidemenuitem m-0 p-2" routerLink="/employee/goalsetting" routerLinkActive="sidemenuitem-active" [routerLinkActiveOptions]="{ exact: true }" title="Goal Setting" data-bs-toggle="tooltip" data-bs-placement="right">
      <mat-icon>extension</mat-icon><span class="menutext">Goal Setting</span>      
    </a>

    <a  class="sidemenuitem m-0 p-2" routerLink="/employee/employeecontribution" routerLinkActive="sidemenuitem-active" [routerLinkActiveOptions]="{ exact: true }" title="Employee Contribution" data-bs-toggle="tooltip" data-bs-placement="right">
      <mat-icon>people</mat-icon><span class="menutext">Employee Contribution</span>      
    </a>

    <a  class="sidemenuitem m-0 p-2" routerLink="/employee/antsvalues" routerLinkActive="sidemenuitem-active" [routerLinkActiveOptions]="{ exact: true }" title="ANTS antsValues1" data-bs-toggle="tooltip" data-bs-placement="right">
      <mat-icon>wifi_tethering</mat-icon><span class="menutext">ANTS Values</span>      
    </a>

    <a  class="sidemenuitem m-0 p-2" routerLink="/employee/careergrowth" routerLinkActive="sidemenuitem-active" [routerLinkActiveOptions]="{ exact: true }" title="Career Growth" data-bs-toggle="tooltip" data-bs-placement="right">
      <mat-icon>moving</mat-icon><span class="menutext">Career Growth</span>      
    </a>

    <a  class="sidemenuitem m-0 p-2" routerLink="/employee/managerrating" routerLinkActive="sidemenuitem-active" [routerLinkActiveOptions]="{ exact: true }" title="Manager Rating" data-bs-toggle="tooltip" data-bs-placement="right">
      <mat-icon>stars</mat-icon><span class="menutext">Manager Rating</span>      
    </a>

    <a  class="sidemenuitem m-0 p-2" routerLink="/employee/scoreboard" routerLinkActive="sidemenuitem-active" [routerLinkActiveOptions]="{ exact: true }" title="Score Board" data-bs-toggle="tooltip" data-bs-placement="right">
      <mat-icon>bar_chart</mat-icon><span class="menutext">Score Board</span>      
    </a>

    <a  class="sidemenuitem m-0 p-2" routerLink="/employee/userupload" routerLinkActive="sidemenuitem-active" [routerLinkActiveOptions]="{ exact: true }" title="Score Board" data-bs-toggle="tooltip" data-bs-placement="right">
      <mat-icon>upload</mat-icon><span class="menutext">PMS file upload</span>      
    </a>



    <!-- <a *ngFor="let menuitem of menuitems" class="sidemenuitem m-0 p-2" routerLink="{{menuitem.url}}" routerLinkActive="sidemenuitem-active" [routerLinkActiveOptions]="{ exact: true }" title="{{menuitem.text}}" data-bs-toggle="tooltip" data-bs-placement="right">
      <mat-icon>{{menuitem.icon}}</mat-icon><span class="menutext">{{menuitem.text}}</span>
      <div *ngIf="menuitem.children">
        <a *ngFor="let childitem of menuitem.children" class="sidemenuitem m-0 p-2" routerLink="{{childitem.url}}" routerLinkActive="sidemenuitem-active" [routerLinkActiveOptions]="{ exact: true }" title="{{childitem.text}}" data-bs-toggle="tooltip" data-bs-placement="right">
          <mat-icon>{{childitem.icon}}</mat-icon><span class="menutext">{{childitem.text}}</span>
        </a>
      </div>
    </a> -->
    <button class="btn sidemenuitem m-0 p-2 menucollapse" (click)="shortmenu();">{{menucollapsetext}}</button>
  </div>
  <div class="col page-content">
    <router-outlet></router-outlet>
  </div>
</div>
