<p class="page-header h3 m-3">Employee Contribution</p>
<mat-divider></mat-divider>

<div class="form-row">
  <div class="col-md-12">
    <div class="table-responsive">
      <h2>CONTRIBUTION</h2>
      <table class="table table-bordered" width="100%" cellspacing="0">
        <thead>
          <tr>
            <td>No</td>
            <td>My CONTRIBUTIONS to the organisation beyond the scope of my work</td>
          </tr>
        </thead>
        <tbody>   
            <tr>
              <td class="valigntext">1</td>
              <td class="valigntext">
                  <input matInput type="text" [disabled]=!selfassessmentenabled maxlength="200"  name="beyond1" [(ngModel)]="beyond1" placeholder="200 characters">
              </td>        
            </tr>    
            <tr>
              <td class="valigntext">2</td>
              <td class="valigntext">
                  <input matInput type="text" [disabled]=!selfassessmentenabled maxlength="200" name="beyond1" [(ngModel)]="beyond2" placeholder="200 characters">
              </td>        
            </tr>   
        </tbody>
      </table>

      <mat-divider></mat-divider>

      <h2>SUPPORT</h2>
      <table class="table table-bordered" width="100%" cellspacing="0">
        <tbody>   
          <tr>
            <td>3.1</td>
            <td>I HELPED a colleague in his/her goal/ learning/ success by: (Please mention someone you don’t have a reporting relation with)</td>
          </tr>
          <tr>
              <td class="valigntext"></td>
              <td class="valigntext">
                  <input matInput type="text" [disabled]=!selfassessmentenabled maxlength="200"  name="IHelped" [(ngModel)]="IHelped" placeholder="200 characters">
              </td>        
          </tr>   
          
          <tr>
            <td>3.2</td>
            <td>A colleague I wish to acknowledge, who HELPED ME succeed? (Please mention someone you don’t have a reporting relation with)</td>
          </tr> 

          <tr>
            <td class="valigntext"></td>
            <td class="valigntext">
                <input matInput type="text" [disabled]=!selfassessmentenabled maxlength="200"  name="HelpedMe" [(ngModel)]="HelpedMe" placeholder="200 characters">
            </td>        
        </tr> 
        </tbody>
      </table>
      <div class="col-5 p-2 pull-right">
        <button mat-raised-button class="col-md-2 btn-theme" (click)="createEmpContribution()">Save</button>
      </div>
    </div>
  </div>
</div>


