<mat-card class="mat-card-page">
    <mat-card-header class="mat-card-header-page">
        <mat-card-title class="mat-card-title-page">
            <mat-icon>devices_other</mat-icon> {{ pageTitle }}
        </mat-card-title>
    </mat-card-header>
    <mat-card-content class="mat-card-content-page p-2">
        <div class="row m-0 p-0">
            <div class="col-12">
                <mat-label class="mx-2 h-3 mat-header-cell">Status</mat-label>
                <mat-slide-toggle (change)="onStatusChange()" [(ngModel)]="deviceStatus">
                    {{ deviceStatus ? ' Active' : ' Inactive' }}
                </mat-slide-toggle>
                <button mat-raised-button class="col-4 btn-search float-right"
                    (click)="pageState = 'Create'; iotDeviceMappingPopup()">
                    <mat-icon>add</mat-icon>
                </button>
            </div>
            <div class="row">
                <div class="col-12">
                    <mat-table #table [dataSource]="deviceData" matSort>

                        <ng-container matColumnDef="deviceId">
                            <mat-header-cell *matHeaderCellDef mat-sort-header class="descriptive-info-15pc"> Device
                                Sensor ID
                            </mat-header-cell>
                            <mat-cell *matCellDef="let element" class="px-2 descriptive-info-15pc"> {{element.deviceId}}
                            </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="deviceMappingID">
                            <mat-header-cell *matHeaderCellDef mat-sort-header class="descriptive-info-15pc"> Device
                                Name
                            </mat-header-cell>
                            <mat-cell *matCellDef="let element" class="px-2 descriptive-info-15pc">
                                {{element.deviceMappingID}} </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="modelName">
                            <mat-header-cell *matHeaderCellDef mat-sort-header class="descriptive-info-15pc"> Model Name
                            </mat-header-cell>
                            <mat-cell *matCellDef="let element" class="px-2 descriptive-info-15pc">
                                {{element.modelName}} </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="deviceCategory">
                            <mat-header-cell *matHeaderCellDef mat-sort-header class="descriptive-info-15pc"> Department
                            </mat-header-cell>
                            <mat-cell *matCellDef="let element" class="px-2 descriptive-info-15pc">
                                {{element.deviceCategory}} </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="deviceStatus">
                            <mat-header-cell *matHeaderCellDef mat-sort-header class="descriptive-info-15pc"> Status
                            </mat-header-cell>
                            <mat-cell *matCellDef="let element" class="px-2 descriptive-info-15pc">
                                {{ element.deviceStatus == '0' ? 'Active' : 'Inactive' }}
                            </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="actions">
                            <mat-header-cell *matHeaderCellDef class="px-1 descriptive-info-second"> Actions
                            </mat-header-cell>
                            <mat-cell class="px-1 descriptive-info-second" *matCellDef="let element">
                                <mat-icon matTooltip="edit" cursor="pointer"
                                    (click)="pageState = 'Edit'; iotDeviceMappingPopup(element)">edit
                                </mat-icon>
                                <!-- <mat-icon matTooltip="delete" cursor="pointer"
                                    (click)="pageState = 'Delete'; deleteEmp(element)">
                                    delete
                                </mat-icon> -->
                            </mat-cell>
                        </ng-container>
                        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                    </mat-table>
                    <table>
                        <tr *ngIf="!deviceData.data.length">
                            <td style="text-align: center;" class="px-2" [attr.colspan]="displayedColumns.length">
                                No {{ pageTitle }} Data Found!
                            </td>
                        </tr>
                    </table>
                    <mat-paginator #paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 20]"
                        [showFirstLastButtons]="true">
                    </mat-paginator>
                </div>
            </div>
        </div>
    </mat-card-content>
</mat-card>